*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
menu{
    position: relative;
}
.classmenu{
    position: absolute;
    bottom: -140px;
    height: auto;
    width: 150px;
    display: none;
    transition: 0.5s all linear;

}
#id1{
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(153, 20, 20);
    display: block ;
    transition: 0.5s all linear;

    
}
.show{
    display:block;
    transition: 0.5s all linear;

    
}




  